<% include partials/__header %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <%if(data){%>
                    <%for(var i=0;i< data.length;i++){%>
                    <tr>
                        <td><%= i%></td>
                        <td><%= data[i].id%></td>
                        <td><%= data[i].nombre%></td>
                        <td><%= data[i].interes%></td>
                    </tr>
                    <% }%>
                    <% }%>
                </tbody>

            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/addIntSimple" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="monto" placeholder="monto" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="dias" placeholder="dias" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="porcentaje" placeholder="porcentaje de interes"
                                class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            calcular
                        </button>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

<% include partials/_footer %>